body{
    font-size: 16px;
}
*{
    color: white;
    box-sizing: border-box;
}
header, footer{ 
    height: 200px;
    padding: 1em;
}

article{
    height: auto;
    background-color: aquamarine;
    padding: 1em;
    margin-bottom: 1em;
}

body > header {
    background-color: skyblue;
    margin-bottom: 1em;
    float:left;
    width: 79%;
}

main > article > header{
    background-color: rgb(86, 185, 225);
}

main{
    float:left;
    width: 79%;
}

nav{
       background-color:rgb(27, 58, 70);
    padding: 1em;
    float:left;
    width: 20%;
    height: 600px;
    margin-right: 1%;
}

footer{
    background-color: rgb(13, 41, 52);
    width: 100%;    
    text-align:center;
    clear:both;
}